*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.container{
    min-height: 70vh;
    padding: 20px;
    min-width: 40vw;
    background-color: #ffffffbb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button:hover{
    opacity: 0.7;
}
.buttons{
    margin: 30px 0;
    display: flex;
    gap: 40px;
}
button{
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out    ;
}

#rock{background-color:rgba(137, 43, 226, 0.656) ;}

#paper{background-color:rgba(0, 0, 255, 0.648) ;}

#scissors{background-color:rgba(255, 0, 0, 0.799) ;}

p{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
   
}

.score span{
    color: rgb(64, 0, 255);
}
.machineScore span{
    color: rgba(201, 32, 32, 0.875);
}

#choiceplayMachine{
    color: rgba(11, 5, 35, 0.903);
    margin-bottom: 10px;
}

.result, .refresh{
    color: rgb(92, 10, 70);
    margin-bottom: 10px;
    font-size: 30px;
    border-style: outset;
}

